@font-face {
    font-family: 'Matchbook';
    src: url('fonts/Matchbook-webfont.eot');
    src: url('fonts/Matchbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Matchbook-webfont.woff') format('woff'),
         url('fonts/Matchbook-webfont.ttf') format('truetype'),
         url('fonts/Matchbook-webfont.svg#MatchbookMatchbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Futura';  
	src: url(./fonts/Futura.ttf) format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marmellata';
    src: url('fonts/marmellata-webfont.eot');
    src: url('fonts/marmellata-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/marmellata-webfont.woff') format('woff'),
         url('fonts/marmellata-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@base-width : 900px; 

* { padding: 0 ; margin : 0 ;}

.center{ margin : 0 auto ; width : @base-width; }
 
.separator{
	clear : both;
	margin : 5px auto 25px ; 
	height : 1px ;
	background-image: url(img/separator.png);
	background-repeat: repeat-x ; 

	#right-flowers{
		float : right ;
		margin-top   : -50px;
		margin-right : -50px;
	}

	#left-flowers{
		margin-top   : -95px;
		margin-left : -55px;
	}

	#arrows{
		.center; 
		display: block ;
		width : 76px;
		background-color: white ;
		padding: 0 10px ; 
	}

}

body {.center;}

header {

	height      : 400px ;
	font-family : 'Matchbook';
	font-size   : 1.7em ;

	#name {
		float   : left; 
	}

	#links {
		margin-top : 12px;
		text-align : right;
		a{
			color  : black ;
			text-decoration: none; 

			&:nth-child(-n+5):after{
				content : " / ";
				color   : pink ;
			}
		}
	}



	#banner {
		#pink-block {
			background-image: url(img/pink-block.png);
			height: 228px; 

			#animals{
				width      : 540px  ; 
				text-align : center ;
				margin     : 0 auto ; 

				.animal {
					height : 300px ; 
					width  : 180px ;
				}

				#birds{
					background : url(img/birds.png) no-repeat bottom ;
					float : left ;
				}

				#moose{
					background: url(img/moose.png) no-repeat bottom ;	
					float: right ;
				}
				
				#welcome{
					float : left ;
					width : 180px ;
					padding-top: 260px ; 
				}
			}
		}
	}
}

#project-detail{

	.center ; 
	height : 312px;
	opacity : 0;
	margin-top : -350px;

}

#content{
	.center; 
	width: 855px;
	.column {

		float : left ; 
		
		.project-block {
			clear : both ;
			margin : 38px 19px ;

			height : 247px; 
			width  : 247px; 
			overflow: hidden ;	

			img{
				width: 247px; 
				height : 247px;
			}

			.description{
				width: 247px; 
				height : 250px;
				background-color: #b4cea7 ; 
				position: relative;
				top : -3px ;
				text-align: center; 
				
				h1{
					font-size: 1.3em;
					padding-top: 97px ;
					padding-bottom: 12px;
					font-family : 'Marmellata';
				}

				.arrow{
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-top: 8px solid #f00;
				}

				h2{
					font-size: 1em;
					font-family: "Futura"; 
					font-weight :normal;
					margin-top: -16px;
				}
			}
		}
	}

	#column2 {
		margin-top : 30px ; 
	}
}

footer {
	clear : both;
	height: 135px ;
	top: -170px;
	position: relative;
	.center ;
	background-image: url(img/background-birds.png) ;
	background-position: top right; 
	background-repeat: no-repeat ;

	.separator {
		background-position: bottom ;
		padding-top: 175px ;
	}
}
